#border{
    border: 1px solid #4e3f67;
    width: 500px;
    height: 400px;
    padding: 40px
}
h1{
    color: #4e3f67;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
}
h3{
    text-align: center;
    margin: 0;
    font-weight: 200;
}
input {
    border: 1px dashed black;
    color: #4e3f67;
    margin-top: 30px;
    width: 98%;
    height: 15%;
    z-index: 2;
}
#login{
    text-align: center;
    margin: 10% 5% ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    width: 90%;
    background-color: #4e3f67;
    color: white;
}
img {
    width: 100%;
    margin: 20px;
}
a{
    width: 70%;
    height: 50px;
    background-color:blue;
    color:white;
}
.eh{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}